@import '@styles/variables.scss';

.categories {
    padding: 50px 0px;
    @include lmd {
        padding: 30px 0px;
    }
}
.categoriesSlider {
    margin-top: 40px;
    height: 330px;
    @include lmd {
        height:230px;
    }
    
    &__slide {
        border-radius: $brdr-btn;
        color: $white-color;
        max-width: 495px !important;
        width: 100% !important;
        position: relative;
        @include lmd {
            max-width: 280px !important;
            height: 180px !important;
        }
        
        h3 {
            position: absolute;
            bottom: 20px;
            left: 30px;
        }
    }
}