@import '@styles/variables.scss';
.header {
    padding: 45px 0px;
    position: fixed;
    z-index: 999;
    width: 100%;
    transition: .4s;
    @include lmd {
        padding: 24px 0px;
    }
    &.active {
        background: $primary-color;
        padding: 20px 0px;
        @include lmd {
            padding: 15px 0px;
        }
    }
   &__wrapper {
        @extend %flex-between;
   }
   &__logo {
    font-size: $fz-small;
   }
   &__nav {
    font-size: $fz-small;
    ul {
        @extend %align-center;
        li {
            padding: 0px 25px ;
        }
    }
    @include lmd {
        display: none;
    }
    }
   &__menu {
    @include lmd {
        margin-left: auto;
    }
    &__basket {
        margin-right: 24px;
        @include lmd {
            display: flex;
        }

    }
    .userIcon {
        @include lmd {
            display: none;
        }
    }
    }
}
.mobileNav {
    display: none;
    &__burger {
        flex-direction: column;
        justify-content: space-between;
        margin-left: 24px;
        width: 32px;
        height: 32px;
        padding: 8px 5px;
        cursor: pointer;
        display: flex;
        span {
            width: 100%;
            height: 2px;
            border-radius: $brdr-round;
            display: block;
            background: $black-color;
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
            &:first-child {
                transform-origin: 0% 0%;
            }
            &:nth-last-child(2) {
                transform-origin: 0% 100%;
            }
        }
        &.active {
            span {
                opacity: 1;
                transform: rotate(45deg) translate(2px, -1px);
            
                &:nth-child(3) {
                    transform: rotate(-45deg) translate(0px, -1px);
                    
                }
                &:nth-last-child(2) {
                    opacity: 0;
                    transform: rotate(0deg) scale(0.2, 0.2);
                }
            }
        }
    }
    &__menu {
        position: absolute;
        right: 0;
        text-align: center;
        background: $white-color;
        backdrop-filter: blur(5px);
        width: 100%;
        max-width: 390px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        transform: translate(390px, -130%);
        &__item {
            padding: 12px;
            text-align: start;
            color: $black-color;
            width: 100%;
            @extend %align-center;
            cursor: pointer;
            &:hover, &:active {
                background: #FFF5F0;
            }
            img {
                margin-right: 16px;
            }
        }
        &.active {
            transform: translate(0%, 47px);
        }
    }
    @include lmd {
        display: flex;
    }
}