@import '@styles/variables.scss';

.footer {
    background: $black-color;
    width: 100%;
    bottom: 0;
    color: $white-color;
    &__wrapper {
        @extend %flex-between;
        align-items: inherit;
        @include sm {
            flex-wrap: wrap-reverse;
            justify-content: center;
        }
    }
    &__contacts {
        padding: 75px 0px 70px;
        @include lmd {
            font-size: $fz-primary;
            padding: 50px 0px;
        }
        @include sm {
            padding-top: 0px;
            margin-top: -30px;
        }
        &__media {
            @extend %align-center;
            &__item {
                @extend %flex-center;
                width: 65px;
                height: 65px;
                border-radius: $brdr-round;
                border: 1px solid #ffffff4f;
                margin-right: 30px;
                a {
                    height: 35px;
                }
                @include lmd {
                    width: 50px;
                    height: 50px;
                }
            }
            @include sm {
                justify-content: center;
            }
        }
    }
    &__item {
        opacity: .8;
        @extend %align-center;
        margin-bottom: 30px ;
        @include lmd {
            font-size: $fz-medium;
            margin-bottom: 24px;
        }
        img {
            margin-right: 35px;
            @include sm {
                margin-right: 20px;
            }
        }
    }
    &__img {
        background: url(../../../public/img/footer/Intersect.png)top right no-repeat;
        background-size: contain;
        max-width: 550px;
        width: 100%;
        display: flex;
        height: 430px;
        @include lmd {
            max-width: 415px;
            align-self: stretch;
            height: auto;
        }
        @include sm {
            height: 396px;
            max-width: 100%;
        }
    }
}