@import '@styles/variables.scss';
.loginPopup {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s all;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
    border-radius: 25px;
   &.active {
        opacity: 1;
        pointer-events: auto;
        background: #eabeaba1;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(4px);
        border-radius: 25px;
   }
   &__content {
        max-width: 360px;
        width: 100%;
        h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        .formGroup {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            label {
                font-size: $fz-medium;
            }
            input {
                padding: 12px 8px;
                width: 100%;
                border-radius: 8px;
                font-size: $fz-medium;
                border: none;
                background: rgba(255, 255, 255, 0.9);
                &:focus {
                    outline: none;
                }
            }
        }
        .submitButton {
            width: 100%;
            border: 2px solid $powder-color;
            padding: 12px;
            border-radius: 0px 0px 8px 8px;
            transition: .4s border-radius;
            font-weight: 800;
            color: $powder-color;
            font-size: $fz-primary;
            &:hover {
                border-radius: 8px;
            }
        }
   }
   .closeButton {
        cursor: pointer;
        font-weight: 700;
        position: absolute;
        top: 25px;
        right: 25px
   }
}