@import '@styles/variables.scss';
@import '@styles/animations.scss';

.advertisement {
    background: #f6dacc4f;
    margin-bottom: 100px;
    @include lmd {
        margin-bottom: 50px;
    }
    &__wrapper {
        @extend %flex-between;
        flex-wrap: wrap;
        @include lmd {
            justify-content: center;
            padding: 50px 0px;
        }
        @include sm {
            overflow: hidden;
        }
        &__img {
            display: flex;
            position: relative;
            .animRaund {
                background: $powder-color;
                position: absolute;
                border-radius: $brdr-round;
                z-index: -1;
                &:nth-last-child(1) {
                    width: 50px;
                    height: 50px;
                    transform: translate(60px,20px);
                    animation: animRound1 7s linear infinite;
                }
                &:nth-last-child(2) {
                    width: 30px;
                    height: 30px;
                    transform: translate(90px,120px);
                    animation: animRound2 13s linear infinite;
                    @include sm {
                        top: -190px;
                    }
                }
                &:nth-last-child(3) {
                    width: 80px;
                    height: 80px;
                    transform: translate(20px,180px);
                    animation: animRound3 16s linear infinite;
                    @include sm {
                        top: -70px;
                    }
                }
                &:nth-last-child(4) {
                    @include lmd {
                        height: 100%;
                        width: 100%;
                        bottom: -100px;
                        left: 20px;
                    }
                    @include sm {
                        bottom: -50px;
                        left: 10px;
                    }
                }
            }
           img {
            @include sm {
                width: 100%;
                max-width: 201px ;
                height: 180px;
             }
           }
        }
        &__ctn {
            @include lmd {
                background: $white-color;
                border: $border-powder;
                border-radius: $brdr-btn;
                padding: 32px;
                width: 100%;
                text-align: center;
                @include sm {
                    padding: 16px;
                }
            }
            h1 {
                margin-bottom: 20px;
                @include sm {
                    font-size: $fz-h3;
                    line-height: 27px;
                    margin-bottom: 10px;
                }
            }
            p {
                max-width: 415px;
                font-size: $fz-h3;
                line-height: $fz-h3 + 5px;
                @include lmd {
                    margin: 0 auto;
                }
                @include sm {
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
    }
}